<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<parameter name="hubUrl" value="http://localhost:4444/wd/hub" />
	<parameter name="browser" value="chrome" />
	<test name="TestGC">
		<packages>
			<package name="com.scripts" />
		</packages>
	</test> <!-- Test -->
	<test name="TestFF">
		<parameter name="hubUrl" value="http://localhost:4444/wd/hub" />
		<parameter name="browser" value="firefox" />
		<packages>
			<package name="com.scripts" />
		</packages>
	</test> <!-- Test -->
</suite> <!-- Suite -->
